@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

/* reset */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --gamemodeBackgorundcolor: yellow;
    --font: 'Gemunu Libre', sans-serif;
    --borderRadius:0.5rem;
}
.hidden{
    display: none;
  }

#gameboard{
    position: absolute;
    background-color: yellowgreen;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    max-width: 400px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    border: black solid 1px;
    top:25%;
    left:10%;
    right:10%

}

.cell{
    border: solid black 1px;
}

#gamemode{
    height: 100vh;
    background-color: var(--gamemodeBackgorundcolor);
}

#options{
    /* margin-top: 30px; */
    position: absolute;
    top: 35% ;
    left: 21.5%;
    right: 21.5%;
    border:blue solid 3px;
    border-radius: var(--borderRadius) ;
    /* width:; */
    
}

.title{
    border-top:black solid 1.9px;
    border-bottom:black solid 1.9px;
    position: absolute;
    top:22%;
    /* left: 8.4%; */
    /* text-decoration: underline; */
    font-family: var(--font);
    font-size: 2.4rem;
    width:100%;
    text-align: center;
}

.text{
    font-size: 2.6rem;
    font-family: var(--font);
}

#player ,#bot ,#god{
    margin:1rem;
}

.button{
    /* background-color: tomato; */
    border:black solid 3px;
    border-radius: var(--borderRadius);
    text-align: center;
    width:fit-content;
    
}

.button:hover{
    border: red solid 3px;
    border-radius: var(--borderRadius);
    font-size: 2.9rem;
    
}

main{
    background-color: yellow;
    min-height: 100vh;
    
}

#gameover{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:2.6rem;
    /* width: 50%; */
    top:calc(25% + 350px);
    left:21.5%;
    right: 21.5%;
    /* border: black 1px solid; */
    /* padding-right: 15%; */
    
}


#gameover .button{
    margin: 6px;
    
    
}